/*header*/
.inline-block {
    display: inline-block;
    vertical-align: top;
}

.logo p {
width: 23%;
padding: 1%;
}

.logo p {
    display: inline-block;
}
p {
    display: inline-block;
}

nav {
    width: 80%;
    padding: 1%;
    background-color: rgb(0, 217, 255)
}
nav ul {
    float: right;
}
.heroImg {
    height: 600px;
    padding: 25px;
}

.content {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}
footer {
    background-color: rgb(0, 136, 255);
    padding: 20px 0px;
}

footer ul {
    display: inline-block;
    vertical-align: top;
}

footer ul li {
    padding: 5px 10 px;
}

.flexContainer {
    display: flex;
}
.flexContainer div {
    width: 33%;
    padding: 40px;
}

.workGrid {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: auto, auto;
    grid-template-areas:
        "project1_image project1_content"
        "project3_image project3_content"
        "project2_image project2_content"; 
    align-items: space-between;
    ;
}



.workGrid button {
    background-color:white;
    color:black;
    border: 2px solid rgba(9, 153, 167, 0.644);
    padding: 8px 24px 8px 24px;
}

.workGrid button:hover {
    background-color: rgba(9, 153, 167, 0.644);
    color: white;
}

.viewAll {
    text-align: center;
}

@media only screen and (max-width:600px){
.flexContainer {
    flex-direction: column;
}
.flexContainer > div {
width: 100%;
}

.workGrid {
    grid-template-columns: 1fr;
    grid-template-rows: auto, auto, auto, auto;
    grid-template-areas: 
    "project1image"
    "project1content"
    "project2image"
    "project2content"
    "project3image"
    "project3content"
    ;
}


/*Accordian Element1*/

.accordianWrapper {
    max-width: 500px;
    
}  
.accordian1 {
    background-color: black;
    font-size: 18px;
    font-family: Helvetica;
    color: white;
    display: flex;
    cursor: pointer;
}
.accordian1 > div {
    padding: 20px;
}

.text {
    width: 93%;
}
.indicator {
    background-color: #545454;
    width: 7%;
    text-align: center;
}

.toggleMe1 {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    display: none;
}
.toggleMe1 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.toggleMe1 ul li {
    font-size: 18px;
    margin: 0;
    display: block;
    padding: 20px;
}
}

/*Accordian Element2*/

.accordianWrapper {
    max-width: 500px;
}  
.accordian2 {
    background-color: black;
    font-size: 18px;
    font-family: Helvetica;
    color: white;
    display: flex;
    cursor: pointer;
}
.accordian2 > div {
    padding: 20px;
}

.text {
    width: 93%;
}
.indicator {
    background-color: #545454;
    width: 7%;
    text-align: center;
}

.toggleMe2 {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    display: none;
}
.toggleMe2 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.toggleMe2 ul li {
    font-size: 18px;
    margin: 0;
    display: block;
    padding: 20px;
}

/*Accordian Element3*/

.accordianWrapper {
    max-width: 500px;
}  
.accordian3 {
    background-color: black;
    font-size: 18px;
    font-family: Helvetica;
    color: white;
    display: flex;
    cursor: pointer;
}
.accordian3 > div {
    padding: 20px;
}

.text {
    width: 93%;
    background-color: #55a7f9;
    
}
.indicator {
    background-color: #545454;
    width: 7%;
    text-align: center;
}

.toggleMe3 {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    display: none;
}
.toggleMe3 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.toggleMe3 ul li {
    font-size: 18px;
    margin: 0;
    display: block;
    padding: 20px;
}
